{{ partial "head.html" . }}
<body class="archive category col-3cm full-width topbar-enabled chrome">

<div id="wrapper">
  {{ partial "header.html" . }}
  <div class="container" id="page">
    <div class="container-inner">
      <div class="main">
        <div class="main-inner group">
          <section class="content">
            <div class="pad group">
              {{ range first 1 .Data.Pages }}
              {{ partial "featured.html" . }}
              {{end}}
              <div class="post-list group">
                {{ range $index,$data := .Data.Pages }}
                {{ if gt $index 0 }}{{ if ge $data.Date.Year .Now.Year }}
                <div class="post-row">
                {{ partial "postItem.html" $data }}
                </div>
                {{end}}{{end}}
                {{end}}
              </div>
              <nav class="pagination group">
                <div class="wp-pagenavi">
                  <a class="page" href="/post/">More...</a>
                </div>
              </nav>
            </div>
          </section>
          {{ partial "sidebarLeftCategories.html" . }}
          {{ partial "sidebarRight.html" . }}
        </div>
      </div>
    </div>
  </div>
  {{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
