{{ partial "head.html" . }}
<body class="archive category col-3cm full-width topbar-enabled chrome">

<div id="wrapper">
  {{ partial "header.html" . }}

  <div class="container" id="page">
    <div class="container-inner">
      <div class="main">
        <div class="main-inner group">
          <section class="content">
            <div class="page-title pad group">
              <h1><i class="fa fa-folder-open"></i>Category: <span>{{ .Title }}</span></h1>
            </div>
            <div class="pad group">
              <!--<div class="notebox">-->
                <!--{{ if eq .Title "Australien" }}-->
                <!--<p>Unsere Abenteuer in Australien</p>-->
                <!--{{else}}-->
                <!--<p>Weiteres ...</p>-->
                <!--{{end}}-->
              <!--</div>-->
              {{ partial "postListGroup.html" . }}
            </div>
          </section>
          {{ partial "sidebarLeftCategories.html" . }}
          {{ partial "sidebarRight.html" . }}
        </div>
      </div>
    </div>
  </div>
  {{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
