/* custom colors, etc */

::selection {
    background-color: #d36430;
}

::-moz-selection {
    background-color: #d36430;
}

a,
.themeform label .required,
#flexslider-featured .flex-direction-nav .flex-next:hover,
#flexslider-featured .flex-direction-nav .flex-prev:hover,
.post-hover:hover .post-title a,
.post-title a:hover,
.s1 .post-nav li a:hover i,
.content .post-nav li a:hover i,
.post-related a:hover,
.s1 .widget_rss ul li a,
#footer .widget_rss ul li a,
.s1 .widget_calendar a,
#footer .widget_calendar a,
.s1 .alx-tab .tab-item-category a,
.s1 .alx-posts .post-item-category a,
.s1 .alx-tab li:hover .tab-item-title a,
.s1 .alx-tab li:hover .tab-item-comment a,
.s1 .alx-posts li:hover .post-item-title a,
#footer .alx-tab .tab-item-category a,
#footer .alx-posts .post-item-category a,
#footer .alx-tab li:hover .tab-item-title a,
#footer .alx-tab li:hover .tab-item-comment a,
#footer .alx-posts li:hover .post-item-title a,
.comment-tabs li.active a,
.comment-awaiting-moderation,
.child-menu a:hover,
.child-menu .current_page_item > a,
.wp-pagenavi a {
    color: #d36430;
}

.themeform input[type="submit"],
.themeform button[type="submit"],
.s1 .sidebar-top,
.s1 .sidebar-toggle,
#flexslider-featured .flex-control-nav li a.flex-active,
.post-tags a:hover,
.s1 .widget_calendar caption,
#footer .widget_calendar caption,
.author-bio .bio-avatar:after,
.commentlist li.bypostauthor > .comment-body:after,
.commentlist li.comment-author-admin > .comment-body:after {
    background-color: #d36430;
}

.post-format .format-container {
    border-color: #d36430;
}

.s1 .alx-tabs-nav li.active a,
#footer .alx-tabs-nav li.active a,
.comment-tabs li.active a,
.wp-pagenavi a:hover,
.wp-pagenavi a:active,
.wp-pagenavi span.current {
    border-bottom-color: #d36430 !important;
}

.s2 .post-nav li a:hover i,
.s2 .widget_rss ul li a,
.s2 .widget_calendar a,
.s2 .alx-tab .tab-item-category a,
.s2 .alx-posts .post-item-category a,
.s2 .alx-tab li:hover .tab-item-title a,
.s2 .alx-tab li:hover .tab-item-comment a,
.s2 .alx-posts li:hover .post-item-title a {
    color: #e2864d;
}

.s2 .sidebar-top,
.s2 .sidebar-toggle,
.post-comments,
.jp-play-bar,
.jp-volume-bar-value,
.s2 .widget_calendar caption {
    background-color: #ef6430;
}

.s2 .alx-tabs-nav li.active a {
    border-bottom-color: #e2864d;
}

.post-comments span:before {
    border-right-color: #e2864d;
}

/*header*/
.home-icon {
    float: left;
    margin-right: 5px;
    border: 1px solid #f5f5f5;
}

#nav-topbar.nav-container, .nav-container {
    background: none;
    transition: all 0.3s ease-in-out;
}

.nav > li {
    font-weight: 600;
}

.site-title a {
    float: right;
}

.nav-cs-icon {
    display: none;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    float: left;
}

.menu-item-text {
    color: rgba(255, 255, 255, 0.4);
}

/*/header*/

.post-tags .tag-link-1 {
    font-size: 8pt;
}

.post-tags .tag-link-2 {
    font-size: 9pt;
}

.post-tags .tag-link-3 {
    font-size: 9.5pt;
}

.post-tags .tag-link-4 {
    font-size: 10pt;
}

.post-tags .tag-link-5 {
    font-size: 10.5pt;
}

.post-tags .tag-link-6 {
    font-size: 11pt;
}

.post-tags .tag-link-7 {
    font-size: 11.5pt;
}

.post-tags .tag-link-8 {
    font-size: 12pt;
}

.post-tags .tag-link-9 {
    font-size: 12.5pt;
}

.post-tags .tag-link-10 {
    font-size: 12.5pt;
}

.post-tags .tag-link-11 {
    font-size: 13pt;
}

.post-tags .tag-link-12 {
    font-size: 13.5pt;
}

.post-tags .tag-link-13 {
    font-size: 14pt;
}

.post-tags .tag-link-14 {
    font-size: 14.5pt;
}

.post-tags .tag-link-15 {
    font-size: 15pt;
}

.post-tags .tag-link-16 {
    font-size: 15pt;
}

.post-tags .tag-link-17 {
    font-size: 15pt;
}

.post-tags .tag-link-18 {
    font-size: 15pt;
}

.post-tags .tag-link-19 {
    font-size: 15pt;
}

.post-tags .tag-link-20 {
    font-size: 15pt;
}

.post-tags .tag-link-21 {
    font-size: 16pt;
}

.post-tags .tag-link-22 {
    font-size: 16.5pt;
}

.post-tags .tag-link-23 {
    font-size: 17pt;
}

.post-tags .tag-link-24 {
    font-size: 17.5pt;
}

.post-tags .tag-link-25 {
    font-size: 18pt;
}

.social-tooltip i {
    color: #dddddd;
}

.entry .gist table, .entry table.mEvent {
    text-align: left;
}

.entry .gist table td, .entry table.mEvent td {
    text-align: left;
}

.post-byline a {
    text-decoration: underline;
}

.post-byline a:hover {
    color: #d36430;
    text-decoration: none;
}

.entry ul.ghStarred li {
    list-style-type: none;
    margin-bottom: 1em;
    border-bottom: 1px solid #ececec;
}

.ghStarred img {
    height: 50px;
    margin-left: 0;
    margin-right: 0.5em;
    float: left;
}