<header id="header">

  <nav class="nav-container group" id="nav-topbar">
    <div class="nav-toggle"><i class="fa fa-bars"></i></div>
    <div class="nav-text"><!-- put your mobile menu text here --></div>
    <div class="nav-wrap container">
      <a rel="nofollow" href="{{ .Site.BaseURL }}/" class="nav-cs-icon">
        <img width="40" height="40" src="/public/coderzh.jpg" alt="coderzh" title="Home">
      </a>
      <ul id="menu-default-menu" class="nav container-inner group">
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a rel="nofollow" href="/">首页</a>
        </li>
        {{ range .Site.Params.Categories }}
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a rel="nofollow" href="/categories/{{ . | urlize }}/">{{ . }}</a>
        </li>
        {{ end }}
        {{ range .Site.Menus.main }}
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a rel="nofollow" href="{{ .URL }}">{{ .Name}}</a>
        </li>
        {{ end }}
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a rel="nofollow" href="/feed.xml" type="application/rss+xml" target="_blank">订阅</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-text">
        {{ .Site.Params.Tagline }}
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="container-inner">
        <div class="toggle-search"><i class="fa fa-search"></i></div>
        <div class="search-expand">
          <div class="search-expand-inner">
            <form method="get" class="searchform themeform" action="https://www.google.com/search">
              <div>
                <input type="text" class="search" name="q" placeholder="Press enter to start searching">
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--/.container-inner-->
    </div>
    <!--/.container-->

  </nav>
  <!--/#nav-topbar-->

  <div class="container group">
    <div class="container-inner">

      <div class="group pad">

        <div class="group pad">
          <h1 class="site-title">
            <a rel="nofollow" href="{{ .Site.BaseURL }}/" rel="home">
              <img style="border-radius: 50%;width:72px;height:72px;margin:0 auto;" alt="coderzh" src="/public/coderzh.jpg"></img>
              {{ .Site.Title }}
            </a>
          </h1>
          <p class="site-description"> {{ .Site.Params.Description }} </p>
        </div>

      </div>
    </div>
    <!--/.container-inner-->
  </div>
  <!--/.container-->

</header>
<!--/#header-->
