<div class="featured">
  <article class="post type-post status-publish format-standard has-post-thumbnail hentry group">
      <div class="post-inner post-hover">
          <div class="post-meta group">
              <p class="post-category">
              {{ range .Params.categories }}
              <a href="/categories/{{ . | urlize }}/" title="All posts in {{ . }}" rel="category tag">{{ . }}</a>
              {{end}}
              </p>
              <p class="post-date">{{ .Date.Format .Site.Params.DateForm }}</p>
          </div>
          <h2 class="post-title">
              <a href="{{ .Permalink }}" rel="bookmark" title="{{ .Title }}">{{ .Title }}</a>
          </h2>
          <div class="entry excerpt">
              <p>{{ .Summary }}</p>
          </div>
      </div>
  </article>
</div>
