<!DOCTYPE html>
<html class="no-js">
<head>
  <base href="{{ .Site.BaseURL }}/">
  <script>
    document._writeOriginal = document.write;
    document.write = function(str) {
        if (str.indexOf('livereload.js') > -1) {
            document._writeOriginal(str);
        } else {
            document._writeOriginal('<!-- Be Hijack!! -->');
        }
    }
  </script>
  {{ partial "head.meta.html" . }}
  <script>document.documentElement.className = document.documentElement.className.replace("no-js", "js");</script>
  <link rel="canonical" href="{{ .Permalink}}">
  <link rel='shortlink' href="{{ .Permalink}}"/>
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}/public/favicon.ico"/>
  {{ partial "head.includes.html" . }}
</head>
