<div class="sidebar s2">
  <a class="sidebar-toggle" title="Expand Sidebar"><i class="fa icon-sidebar-toggle"></i></a>
  <div class="sidebar-content">
    <div class="sidebar-top group">
      <p>More</p>
    </div>
    <div id="categories-2" class="widget widget_categories"><h3>Categories</h3>
      <ul>
        {{ range .Site.Params.Categories }}
          <li class="cat-item cat-item-1">
            <a rel="nofollow" href="/categories/{{ . | urlize }}/">{{ . }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
