<ul class="social-links">
    <li>
    <a class="social-tooltip" title="On WeiBo"
        href="http://weibo.com/coderzh" target="_blank">
        <i class="fa fa-weibo"></i>
    </a>
    </li>
    <li>
    <a class="social-tooltip" title="On Twitter" rel="nofollow"
        href="https://twitter.com/coderzh" target="_blank">
        <i class="fa fa-twitter"></i>
    </a>
    </li>
    <li>
    <a class="social-tooltip" title="On GitHub"
        href="https://github.com/coderzh" target="_blank">
        <i class="fa fa-github"></i>
    </a>
    </li>
</ul>
